@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  /*margin: 0;*/
  /*font-family: "Quicksand", serif;*/
  /*color: #333;*/
}

/*.navbar{*/
/* */

/*}*/
.containerImg {
  /*width: 100vw;*/
  /*height: 100vh;*/
  position: relative;
}

.img-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

/* base styles */

.navbar {
  padding: 20px;
  display: revert;
  align-items: center;
  max-width: 100vw;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #fffffe;


}
.navbar-brand{
  color: #f1356d;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.navbar:hover {
  background-color: #f1356d;
  text-color: #f2f2f2;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

/***Blog Details***/
.blog-details h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div{
  margin: 20px;
}
/*************************/

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #db34b1;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  z-index: 999;
  position: absolute;
  margin: -51%  40%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.blog-preview a{
  text-decoration: none;
}

/*****Logo****/
.logo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 10px;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.aud{
  margin: -70% 0;
  display: grid;
  z-index: 10000;
  position: relative;
  background-color: rgba(225, 221, 221, 0);
  box-shadow: #a6a618;
  /*width: -webkit-fill-available;*/
  height: 100vh;

}
.gZmPOF {
  margin: 25% 45%;
  position: relative;
}